
body{
	/*Change the background color to a rgba value with opacity for layered backgrounds*/
	background-color: #333;
	font-family: Calibri;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
body::after{
	/*
	Uncomment and edit the following two lines to add a background-image to the lower layer
	background-image: url("");
	background-repeat: repeat;
	*/
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
/*The wrapper contains all contents except the footer contents*/
.wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 35px;
	margin-top: 5%;
	height: 100%;
}
/*The giant class sets the style of the headline*/
.giant{
	font-size: 105px;
}

a{
	color: #eee;
}
/*The time display is formatted as a table*/
table{
	border: none;
	border-collapse: collapse;
	text-align: center;
	float: center;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
	overflow: hidden;
	color: #fff;
}
/*The frame class sets the frame styling of the timer elements*/
.frame{
	font-size: 22px;
	background-color: #33C453;
	border-radius: 15px;
	height: 150px;
	width: 150px;
	margin-left: 3px;
	box-shadow: inset 2px 2px 4px #333;
	-webkit-box-shadow: inset 2px 2px 4px #333;
	-moz-box-shadow: inset 2px 2px 4px #333;
}
/*This style is applied to the texts of the time display*/
div.frame span{
	font-size: 40px;
}
/*Changes in this class do not overwrite the style of the time display. The style of this class changes the unit texts.*/
.center{
	padding: 23%;
}
/*This style applies to the footer*/
#footer{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 5px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	bottom: 0;
	position: absolute;
}
#footer a{
	color: #eee;
}
#footer a:visited{
	color: #fff;
}